@font-face {
    font-family: "";
    src: url("") format("");
  }

  /* test */

  :root {
    font-family: Arimo, Avenir, Helvetica, Arial, sans-serif;
    font-size: 100%;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    font-family: "Arimo", Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100%;
    min-width: 320px;
    margin: 0;
    padding: 0;
    /*background-image: url("/media/body_bg.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
  margin: 0;
  padding: 0;
  font-family: "Arimo", serif;
}

  header, footer, a {
    background-color: rgba(11, 11, 11, 1);
    color: rgba(160, 160, 160, 1);
    text-decoration: none;
  }

  .header_nav {
    display: flex;
    margin: 0%;
    font-size: 1.5rem;
  }

  .nav_search {
    background-color: rgba(11, 11, 11, 1);
    margin-top: 4rem;
    margin-left: 18rem;
    margin-right: 18rem;
    padding: 1rem;
  }